.catalog {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 1rem 0;
}

.empty-catalog, .loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.no-products, .loading {
    font-family: var(--font);
    color: var(--pinkest);
}

@media (min-width: 768px) {
    .catalog {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .catalog {
        padding: 1rem;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
    }
}